<br></br>

<div class="row">
    <div class="col s3 ">
      <div class="card-panel">
          <img class="responsive-img activator circle res" src="http://materializecss.com/images/office.jpg">
          <h4> Negocio de comida</h4>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ab quas soluta, ratione quae quod voluptate provident temporibus explicabo veniam rerum voluptas! Saepe harum provident eveniet iste eligendi accusantium repellat.
          </p>
      </div>
    </div>
    <div class="col s3 ">
      <div class="card-panel">
          <img class="responsive-img activator circle res" src="http://materializecss.com/images/office.jpg">
          <h4> Negocio de comida</h4>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ab quas soluta, ratione quae quod voluptate provident temporibus explicabo veniam rerum voluptas! Saepe harum provident eveniet iste eligendi accusantium repellat.
          </p>
      </div>
    </div>
    <div class="col s3 ">
      <div class="card-panel">
          <img class="responsive-img activator circle res" src="http://materializecss.com/images/office.jpg">
          <h4> Negocio de comida</h4>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ab quas soluta, ratione quae quod voluptate provident temporibus explicabo veniam rerum voluptas! Saepe harum provident eveniet iste eligendi accusantium repellat.
          </p>
      </div>
    </div>
    <div class="col s3 ">
      <div class="card-panel">
          <img class="responsive-img activator circle res" src="http://materializecss.com/images/office.jpg">
          <h4> Negocio de comida</h4>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ab quas soluta, ratione quae quod voluptate provident temporibus explicabo veniam rerum voluptas! Saepe harum provident eveniet iste eligendi accusantium repellat.
          </p>
      </div>
</div>
 